{%- case include.item.collection -%}
  {%- when "videos"    -%}{% include cards/video.html     item=include.item %}
  {%- when "projects"  -%}{% include cards/project.html   item=include.item %}
  {%- when "portfolio" -%}{% include cards/portfolio.html item=include.item %}
  {%- when "snippets"  -%}{% include cards/snippet.html   item=include.item %}
  {%- when "prompts"   -%}{% include cards/prompt.html    item=include.item %}
  {%- else             -%}{% include cards/blog.html      item=include.item %}
{%- endcase -%}
