{%- assign _hero_kind = 'default' -%}
{%- if page.layout == 'home' -%}
  {%- assign _hero_kind = 'home' -%}
{%- elsif page.layout == 'post' or page.collection == 'posts' -%}
  {%- assign _hero_kind = 'post' -%}
{%- elsif page.layout == 'page' -%}
  {%- assign _hero_kind = 'page' -%}
{%- endif -%}

{%- case _hero_kind -%}
  {%- when 'home' -%}{% include hero/home.html %}
  {%- when 'post' -%}{% include hero/post.html %}
  {%- when 'page' -%}{% include hero/page.html %}
  {%- else -%}{% include hero/default.html %}
{%- endcase -%}
