<h3>Related posts</h3>
<ul class="list list--posts list--related">
  {% assign has_related = false %}
  {% for page in site.related_posts limit: 3 %}
    {% assign has_related = true %}
    {% assign cover_img = page.image | default: page.cover | default: '' %}
    {% assign primary_cat = page.categories | first | default: page.category %}

    <li class="item item--post">
      <article class="content-card">
        {% if cover_img != '' %}
          <figure class="content-card__media">
            <img src="{{ cover_img | relative_url }}" alt="{{ page.title | escape }}" loading="lazy" />
            {% if primary_cat %}
              <span class="content-card__cat">
                <i class="ph-bold ph-bookmark-simple"></i>
                <a href="{{ site.baseurl }}/categories/#{{ primary_cat | downcase | slugify }}">{{ primary_cat }}</a>
              </span>
            {% endif %}
          </figure>
        {% endif %}

        <div class="content-card__body">
          <h4 class="content-card__title">
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
          </h4>
          <div class="content-card__meta">
            {% include post-meta.html %}
          </div>
          <p class="content-card__excerpt">
            {{ page.excerpt | markdownify | strip_html | strip_newlines | truncatewords: 20 }}
          </p>
        </div>
      </article>
    </li>
  {% endfor %}

  {% if has_related != true %}
    <p>There are no related posts</p>
  {% endif %}
</ul>
