{%- assign r = include.repo -%}
<a class="repo" href="{{ r.url }}" target="_blank" rel="noopener"
   data-find="{{ r.name | append: ' ' | append: r.description | append: ' ' | append: r.language | downcase | escape }}">
	<span class="repo__main">
		<span class="repo__name">{{ r.name }}{% if r.archived %} <span class="t-label-sm">archived</span>{% endif %}</span>
		{%- if r.description != '' -%}<span class="repo__desc">{{ r.description }}</span>{%- endif -%}
	</span>
	<span class="repo__meta t-data">
		{%- if r.language != '' -%}<span><i class="lang" data-lang="{{ r.language }}"></i>{{ r.language }}</span>{%- endif -%}
		{%- if r.stars > 0 -%}<span>{% include icon.html name='star' %}{{ r.stars }}</span>{%- endif -%}
		<span>{{ r.pushed_ago }}</span>
	</span>
</a>
