{%- assign v = include.video -%}
{%- assign i = include.i | default: 0 -%}
<a class="card card--flat card--video" href="{{ v.url }}" target="_blank" rel="noopener" style="--i:{{ i }}">
	<span class="card__media frame-hover">
		<img src="{{ v.thumbnail }}" alt="" loading="lazy" decoding="async" width="1280" height="720">
		<span class="media__scan" aria-hidden="true"></span>
		<span class="frame__tr" aria-hidden="true"></span><span class="frame__bl" aria-hidden="true"></span>
		<span class="card__play" aria-hidden="true"><svg viewBox="0 0 24 24"><path d="M8 5.5v13l11-6.5-11-6.5Z"/></svg></span>
		<span class="card__duration t-data">{{ v.duration }}</span>
	</span>
	<span class="card__body">
		<span class="card__title">{{ v.title }}</span>
		<span class="card__foot">
			<span class="t-data card__stats"><span>{% include icon.html name='eye' %}{{ v.views.label }}</span><span>{{ v.ago }}</span></span>
			<span class="card__go">{% include icon.html name='arrow' %}</span>
		</span>
	</span>
</a>
