// _scss/_base.scss

// ========== BASE RESET & GLOBALS ==========
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc($navbar-height + $layout-padding * 2);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: $font-family-body;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.panel-open {
    overflow: hidden;
  }
}

// ========== BASE TYPOGRAPHY ==========
a {
  color: var(--color-contrast);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--ghost-accent-color);
  }
}

h1,
h2,
h3 {
  color: var(--color-contrast);
  margin: 0;
  font-family: $font-family-headings;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2rem, 1.6rem + 1.5vw, 2.8rem);
}

// ========== BASE BUTTON STYLES ==========
.button {
  align-items: center;
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  border-radius: $button-border-radius;
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-weight: $button-font-weight;
  gap: 0.5em;
  justify-content: center;
  min-height: $button-min-height;
  padding: var(--button-padding-v) var(--button-padding-h);
  text-decoration: none;
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    background-color: var(--button-hover-color);
    color: var(--button-hover-background-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-color: var(--color-contrast);
  }
}

.button-icon {
  border-radius: 50%;
  width: $button-min-height;
  height: $button-min-height;
  padding: var(--spacing-4);
}

.button-sm {
  --button-min-height: 2.25rem;
  --button-padding-h: 1rem;
  font-size: 0.8rem;
}

.button-transparent {
  background-color: transparent;
  color: var(--color-secondary);
  border-color: var(--color-border);

  &:hover {
    background-color: var(--color-background-100);
    color: var(--color-contrast);
    box-shadow: none;
  }
}