@charset "utf-8";

// ----------------------------------------------------------------------
// 1. CSS RESET & NORMALIZATION
// ----------------------------------------------------------------------
// Normalize browser defaults to achieve a consistent baseline.
@import "normalize";
// ----------------------------------------------------------------------
// 2. GLOBAL VARIABLES & TOKENS
// ----------------------------------------------------------------------
@import "variables";
// ----------------------------------------------------------------------
// 3. BASE STYLES
// ----------------------------------------------------------------------
@import "base";
// ----------------------------------------------------------------------
// 3. ELEMENTS
// ----------------------------------------------------------------------
@import "elements/buttons";
// ----------------------------------------------------------------------
// 4. COMPONENTS
// ----------------------------------------------------------------------
@import "components/header";
@import "components/footer";
@import "components/adsense";
// ----------------------------------------------------------------------
// 5. COMPONENTS
// ----------------------------------------------------------------------
@import "sections/content-grid";
// ----------------------------------------------------------------------
// 6. LAYOUTS
// ----------------------------------------------------------------------
@import "layouts/home";
@import "layouts/post";
@import "layouts/page";
@import "layouts/categories";
@import "layouts/archive";
@import "layouts/search";
@import "layouts/resume";

// ----------------------------------------------------------------------


// 6. Utilitt
// ----------------------------------------------------------------------
@import "utility/toc.scss";



// END OF MAIN IMPORTS

